<section id="welcome">
	<div class="container">
		<h2>Find a ride</h2>
		<hr class="sep">
		<img class="img-responsive center-block wow fadeInUp" data-wow-delay=".3s" src="img/welcome/logo.png" alt="logo">
		<h3>Love getting there</h3>
	</div>
</section>

<div class="container">
	<!-- <div ng-show="messageLogin" id="login-alert" class="alert alert-danger col-sm-12">{{messageLogin}}</div> -->

	<form class="form-horizontal row" role="form">

		<div style="margin-bottom: 25px;" class="form-group col-md-5" >
			<!-- <input  type="text" class="form-control" name="src" ng-model="src" required placeholder="Pick-up point">  -->
			<input style="padding: 28px 30px; font-size: 17px;" id="autocompletesrc" class="form-control" name="src" ng-model="src" required placeholder="Pick-up point"  type="text"></input>

		</div>

		<div style="margin-bottom: 25px; margin-left: 10px" class="form-group col-md-5">
			<!-- <input type="text" class="form-control" name="des" ng-model="des" required placeholder="Drop-off point">  -->
			<input style="padding: 28px 30px; font-size: 17px;" id="autocompletedes" class="form-control" name="des" ng-model="des" required placeholder="Drop-off point"  type="text"></input>
		</div>
		<button style="margin-bottom: 25px; margin-left: 10px" class="btn btn-dark col-md-2" ng-click="find()">Find a ride</button>
	</form>
	<div class="row" ng-show="searched">
		<div class="col-md-3" style="border: 2px solid black;">
			<div >
				<h3 class="main-column-title">Date</h3>
				<form method="GET" class="date-form u-marginNone">
					<div class="date-facet-input">
						<input ng-model="date" type="date" placeholder="dd/mm/yyyy">
					</div>
				</form>
			</div>

			<div>
				<div>
					<form class="form-inline" method="GET" action="">
						<div data-type="hours" >



							<p>
								Pick-up time: <select id="hb" ng-model="hb" name="hb">
									<option value="0" selected="selected">0h</option>
									<option value="1">1h</option>
									<option value="2">2h</option>
									<option value="3">3h</option>
									<option value="4">4h</option>
									<option value="5">5h</option>
									<option value="6">6h</option>
									<option value="7">7h</option>
									<option value="8">8h</option>
									<option value="9">9h</option>
									<option value="10">10h</option>
									<option value="11">11h</option>
									<option value="12">12h</option>
									<option value="13">13h</option>
									<option value="14">14h</option>
									<option value="15">15h</option>
									<option value="16">16h</option>
									<option value="17">17h</option>
									<option value="18">18h</option>
									<option value="19">19h</option>
									<option value="20">20h</option>
									<option value="21">21h</option>
									<option value="22">22h</option>
									<option value="23">23h</option>
									<option value="24" disabled="disabled">24h</option>
								</select> to <select id="he" ng-model="he" name="he">
									<option value="0" disabled="disabled">0h</option>
									<option value="1">1h</option>
									<option value="2">2h</option>
									<option value="3">3h</option>
									<option value="4">4h</option>
									<option value="5">5h</option>
									<option value="6">6h</option>
									<option value="7">7h</option>
									<option value="8">8h</option>
									<option value="9">9h</option>
									<option value="10">10h</option>
									<option value="11">11h</option>
									<option value="12">12h</option>
									<option value="13">13h</option>
									<option value="14">14h</option>
									<option value="15">15h</option>
									<option value="16">16h</option>
									<option value="17">17h</option>
									<option value="18">18h</option>
									<option value="19">19h</option>
									<option value="20">20h</option>
									<option value="21">21h</option>
									<option value="22">22h</option>
									<option value="23">23h</option>
									<option value="24" selected="selected">24h</option>
								</select>
							</p>
						</form>
					</div>
				</div>

				<div class="main-column-block price-facet" data-tracker="price-facet">
					<h3 class="main-column-title">Price</h3>
					<div>
						<form class="form-inline">
							<div data-type="price" >
								<p>
									From
									<select id="pmin" ng-model="pmin" name="pmin">
										<option ng-repeat="p in prices" value="{{p}}">{{p}}</option>
									</select>
									{{pmin}}
									to
									<select id="pmax" ng-model="pmax" name="pmax">
										<option ng-repeat="p in prices" value="{{p}}" >{{p}}</option>
									</select>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div style="padding: 10px">
				<div style="text-align: right">
					<button class="btn btn-dark" ng-click="orderBy('date');">Sort by date</button>
					<button class="btn btn-dark" ng-click="orderBy('price');">Sort by price</button>
				</div>
			</div>
			<div class="row find-filter" ng-repeat="ride in rides | filter: filterFunction | orderBy:myOrderBy" >
				<a ng-href="#/view/{{ride._id}}" class="a-filter-find">
					<div class="col-md-5">
						{{ride.owner.name}}
					</div>
					<div  style="border-left: 1px solid black"  class="col-md-7">
						{{ride.src}} -> {{ride.des}}<br>
						{{ride.price}}.000VND per seat<br>
						{{ride.numOfSeat}} seats left<br>
						{{ride.showdate}}<br>
					</div>
				</a>
			</div>
			<h2 ng-show="rides.length == 0"><center>NOTHING FOUND <center></h2>
			</div>
		</div>

	</div>
