
<!-- Welcome
============================================= -->
<section id="welcome">
    <div class="container">
        <h2>Welcome To <span>Blablacar</span></h2>
        <hr class="sep">

        <img class="img-responsive center-block wow fadeInUp" data-wow-delay=".3s" src="img/welcome/logo.png" alt="logo">
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/#/find-rides" class="text-center"><h3>Find a ride</h3></a>
                <p class="text-center">Thousands of departures every day. Where do you want to go?</p>
            </div>
            <div class="col-md-6">
                <a href="/#/offer-seats" class="text-center"><h3>Offer a ride</h3></a>
                <center><p>Driving somewhere soon?<br>Carpooling with BlaBlaCar means you save and others can travel.</p></center>
            </div>
        </div>
    </div>
</section>
